/* Geral */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333333;
    scroll-behavior: smooth;
}

h1 {
    font-weight: normal;
}

li {
    margin: 1vw;
    width: fit-content;
}

.navigation {
    text-decoration: underline;
    cursor: pointer;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0 0 0;
    box-shadow: 0 0 5px;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header .logo {
    width: 20em;
    max-width: 100%;
}

/* Footer */
footer {
    border-top: 1px solid #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h1 {
    font-size: 1em;
    letter-spacing: .182em;
}

/* Main */
main section {
    margin: 1vw auto 0;
    width: 60%;
}

main p {
    text-align: justify;
    text-indent: 1.5vw;
}

main img {
    width: 100%;
    box-shadow: 0 0 .5em black;
}

#main-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#main-footer-item {
    text-align: center;
    box-sizing: border-box;
    transition: all linear .2s;
    width: 50%;
}

#main-footer-item:hover {
    background-color: #333333;
    color: white;
}

.backOnTroca {
    margin: 0 0 .5vw 0;
    padding: 1vw;
    text-align: justify;
    transition: all .2s linear;
    cursor: pointer;
}

.backOnTroca:hover {
    box-shadow: 0 0 5px black;
}

.scrollToTop {
    border: rgba(0, 0, 0, 0.2) solid 0.3vw;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 94%;
    left: 94%;
    cursor: pointer;
}