/* Geral */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333333
}

li {
    margin: 1vw;
    width: fit-content;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0 0 0;
    box-shadow: 1px 1px 5px;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header .logo {
    width: 20em;
    max-width: 100%;
}

/* Footer */
footer {
    border-top: 1px solid #D8D8D8;
    display: flex;
    justify-content: center;
}

footer p{
    text-align: center;
    letter-spacing: 1.82px;
}

/* Main */
main section {
    margin: 1vw auto;
    width: 90%;
}

main p {
    text-align: justify;
    text-indent: 1.5vw;
}

main img {
    width: 100%;
}